*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
:root{
    --page-padding: 30px;
}
/*ARROWS*/
div.arrows{
    padding: calc( var(--page-padding) / 2 );
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.arrows img{
    cursor: pointer;
    width: 30px;
    height: auto;
}
/*BOXEN*/
section.content{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.content article.contentbox{
    display: none;
    padding: var(--page-padding);
    width: 100%;
}
section.content article.contentbox img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
section.content article.contentbox.visible{
    display: block;
}