:root{
    --bu-gap: 15px;
    --bu-height: 10px;
    --bu-translate: calc(var(--bu-gap) + var(--bu-height));
    --bu-translate-radius: 45deg;
}
section.burger{
    width: 100%;
}
/*Grundstatus*/
section.burger div{
    height: var(--bu-height);
    width: 100%;
    background-color: black;
    transition: 0.4s;
}
section.burger div:first-child{
    margin: 0 0 var(--bu-gap) 0;
}
section.burger div:last-child{
    margin: var(--bu-gap) 0 0 0;
}
/*Animierter Zustand*/
section.burger.animated div:first-child{
    transform: translateY(var(--bu-translate)) rotate(var(--bu-translate-radius));
}
section.burger.animated div:nth-child(2){
    width: 0%;
    opacity: 0;
}
section.burger.animated div:last-child{
    transform: translateY(calc(var(--bu-translate) * -1)) rotate(calc( var(--bu-translate-radius) * -1 ));
}