*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
section.infobox{
    position: absolute;
    background-color: blue;
    color: white;
    width: 100vw;
    padding: 30px;
    bottom: 0px;
}