:root{
    --bx-grid: 3;
}
body{
    color: white;
}
main{
    width: 100%;
    padding: 100px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(var(--bx-grid), 1fr);
    grid-auto-rows: 200px;
}
div.box{
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
div.detailbox{
    width: 100%;
    height: 0%;
    background-color: #830c23;
    transition: 0.5s;
}