*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
:root{
    --gap: 30px;
    --tr: 0.5s;
    --lightboxcolor: rgb(17, 17, 17);
    --cross: 5px;
}
body{
    padding: calc(var(--gap) / 2);
    background-color: blanchedalmond;
}
/*Bild*/
img{
    padding: calc(var(--gap) / 2);
    height: 50vh;
    cursor: pointer;
}
/*Cross--------------------------------------------*/
/*Active*/
div.cross{
    position: absolute;
    top: calc(var(--gap) + calc( var(--cross) * 3) );
    right: var(--gap);
    z-index: 3;
    width: calc(var(--cross) * 8);
    transition: var(--tr);
    cursor: pointer;
}
div.cross div{
    height: var(--cross);
    background-color: white;
    position: absolute;
    width: calc(var(--cross) * 8);
    transition: var(--tr);
}
div.cross div:first-child{
    transform: rotate(-45deg);
}
div.cross div:last-child{
    transform: rotate(45deg);
}
/*Gone*/
div.cross.gone div{
    transform: rotate(0deg);
    opacity: 0;
}

/*Lightbox*/
section.lightbox{
    width: 100vw;
    height: 100vh;
    background-color: var(--lightboxcolor);
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: lb 0.3s ease-out 0s 1 forwards;
}
section.lightbox img{
    height: 100vh;
    width: auto;
    padding: 0 0;
}
section.lightbox p{
    position: absolute;
    color: white;
    bottom: var(--gap);
    background-color: var(--lightboxcolor);
    padding: 3px;
}
@keyframes lb{
    from {opacity: 0;}
    to{ opacity: 1;}
}