:root{
    --lb-gap: 30px;
    --lb-tr: 0.5s;
    --lb-bgcolor: rgb(17, 17, 17);
    --lb-crosssize: 5px;
}
body{
    padding: calc(var(--lb-gap) / 2);
}
/*Bild*/
img{
    cursor: zoom-in;
    padding: calc(var(--lb-gap) / 2);
    height: 60vh;
}
/*Cross--------------------------------------------*/
/*Active*/
div.cross{
    position: absolute;
    top: calc(var(--lb-gap) + calc( var(--lb-crosssize) * 3) );
    right: var(--lb-gap);
    z-index: 3;
    width: calc(var(--lb-crosssize) * 8);
    transition: var(--lb-tr);
    cursor: pointer;
}
div.cross div{
    height: var(--lb-crosssize);
    background-color: white;
    position: absolute;
    width: calc(var(--lb-crosssize) * 8);
    transition: var(--lb-tr);
}
div.cross div:first-child{
    transform: rotate(-45deg);
}
div.cross div:last-child{
    transform: rotate(45deg);
}
/*Gone*/
div.cross.gone div{
    transform: rotate(0deg);
    opacity: 0;
}

/*Lightbox-Container-----------------*/
section.lightbox{
    cursor: zoom-out;
    width: 100vw;
    height: 100vh;
    background-color: var(--lb-bgcolor);
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: lb 0.3s ease-out 0s 1 forwards;
}
section.lightbox img{
    cursor: zoom-out;
    height: 100vh;
    width: auto;
    padding: 0 0;
}
section.lightbox p{
    position: absolute;
    color: white;
    bottom: var(--lb-gap);
    background-color: var(--lb-bgcolor);
    padding: 3px;
}
@keyframes lb{
    from {opacity: 0;}
    to{ opacity: 1;}
}